.equipment-container {
  width: 100%;
  height: calc(100vh - 90px);
  display: grid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.equipment-container .right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.equipment-container .right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
.equipment-container .left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0;
  padding: 0 5%;
}
.equipment-container .left h1 {
  font-size: 4rem;
  position: relative;
  z-index: 10;
}
.equipment-container .left .equipment-title {
  width: 100%;
  padding-left: 5%;
}
.equipment-container .left .equipment-title .rect {
  background-color: #02469e;
  width: 125px;
  height: 15px;
  position: relative;
  bottom: 2rem;
}
.equipment-container .left .equipment-title .rect2 {
  margin-left: 1rem;
  background-color: #1f63bc;
}

@media screen and (max-width: 1200px) {
  .equipment-container {
    height: auto;
    flex-direction: column-reverse;
  }
  .equipment-container .right {
    width: 100%;
    height: 450px;
  }
  .equipment-container .left {
    width: 100%;
    height: 50%;
    background-position: bottom;
    padding: 1.5rem;
  }
}
