.about-container {
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-container .left {
  width: 50%;
  height: 100%;
  background-image: url(../Imgs/about.png);
  background-size: cover;
  background-position: center center;
}
.about-container .right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2.5rem 10%;
}
.about-container .right h1 {
  font-size: 4rem;
  position: relative;
  z-index: 10;
}
.about-container .right .about-title {
  width: 100%;
  padding-left: 5%;
}
.about-container .right .about-title .rect {
  background-color: #02469e;
  width: 125px;
  height: 15px;
  position: relative;
  bottom: 2rem;
}
.about-container .right .about-title .rect2 {
  margin-left: 1rem;
  background-color: #1f63bc;
}

@media screen and (max-width: 1200px) {
  .about-container {
    flex-direction: column;
  }
  .about-container .left {
    width: 100%;
    height: 50%;
  }
  .about-container .right {
    width: 100%;
    height: 50%;
    background-position: bottom;
  }
}
