.about-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  grid-template-rows: 1fr;
}
.left {
  background-image: url(../about.png);
  background-size: cover;
  background-position: center center;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2.5rem;
}
.right h1 {
  font-size: 4rem;
  position: relative;
  z-index: 10;
}
.right .about-title {
  width: 100%;
  padding-left: 5%;
}
.right .about-title .rect {
  background-color: #073a7d;
  width: 200px;
  height: 15px;
  position: relative;
  bottom: 2rem;
}
.right .about-title .rect2 {
  margin-left: 1rem;
  background-color: #1f63bc;
}
.right p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1200px) {
  .about-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
