.about-container {
  min-height: calc(100vh - 90px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  grid-template-rows: 1fr;
}
.about-container .left {
  background-image: url(../about.png);
  background-size: cover;
  background-position: center center;
}
.about-container .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2.5rem 10%;
}
.about-container .right h1 {
  font-size: 4rem;
  position: relative;
  z-index: 10;
}
.about-container .right .about-title {
  width: 100%;
  padding-left: 5%;
}
.about-container .right .about-title .rect {
  background-color: #02469e;
  width: 125px;
  height: 15px;
  position: relative;
  bottom: 2rem;
}
.about-container .right .about-title .rect2 {
  margin-left: 1rem;
  background-color: #1f63bc;
}

@media screen and (max-width: 1200px) {
  .about-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
