@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  color: #eeee;
  font-family: "Montserrat", sans-serif;
}
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.header-container {
  height: 125px;
}
.header.active {
  background-color: #073a7d;
}
.header-container .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 4rem 1rem 4rem;
}
.header-container .nav img {
  max-width: 110px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.header-container .nav img:hover {
  transform: scale(1.1);
}
.header-container ul {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  list-style: none;
}
.header-container li {
  margin-left: 2.5rem;
  list-style: none;
}
.header-container a {
  font-size: 1.2rem;
  opacity: 0.85;
  transition: opacity 0.3s ease-in-out;
  text-decoration: none;
}
.header-container a:hover {
  opacity: 1;
}
.header-container .hamburger-menu {
  font-size: 2.5rem;
  display: none;
}
@media screen and (max-width: 1050px) {
  .header-container .nav {
    justify-content: center;
    flex-direction: column;
  }
  .header-container .nav-links {
    display: none;
  }
  .header-container .nav img {
    max-width: 75px;
  }
  .header-container .hamburger-menu {
    display: block;
  }
  .header-container li {
    margin: 0 !important;
  }
}
