@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #eeeeee;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #052957;
}
.TextContainer {
  height: 100vh;
  width: 100%;
}
.main-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.TextContainer h1,
.TextContainer h2 {
  text-align: center;
}
.TextContainer h1 {
  font-size: 4.5rem;
}
.TextContainer h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 500;
}
