.references-container {
  width: 100%;
  height: 100%;
}
.references-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
}
.references-title h1 {
  font-size: 4rem;
  position: relative;
  z-index: 10;
}
.references-title {
  width: 100%;
}
.references-title .rect {
  background-color: #073a7d;
  width: 400px;
  height: 15px;
  position: relative;
  bottom: 2rem;
}
.references-title .rect2 {
  margin-left: 1rem;
  background-color: #1f63bc;
}
.references-recs {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.references-rec {
  width: 500px;
  height: 700px;
  background-position: center;
  background-size: cover;
  margin: 0.5rem 1rem !important;
}
.references-rec-left {
  background-image: url(../Atem_2008-1.png);
}
.references-rec-center {
  background-image: url(../Atem_2011-1.png);
}
.references-rec-right {
  background-image: url(../Atem_2013-1.png);
}
.references-button {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}
.references-button a {
  text-decoration: none;
}
